@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Лабораторна робота №2</h1>
    <p>Технології інтеграції інформаційних систем</p>
    <p><b>Виконав:</b> студент гр. КН-22м Криницкький Владислав</p>
    <a href="~/files/Lab_2.pdf" target="_blank">Lab_2.pdf</a>
</div>
